	html body {
		font-family: Helvetica, Arial, sans-serif;
		background: #000;
	}
	img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	header#head h1 {
		color: rgba(255,255,255,.8);
		font-size: 1em;
	}